{
  "VERSION": "0.5.0",
  "VERSION_DATE": "2021-07-07",
  "ARCHIVE": "EIDA NODE",
  "PUBLISHER": "OBSPY MSEED-QC",
  "STRUCTURE": "SDS",
  "MONGO": {
    "ENABLED": true,
    "DB_HOST": "127.0.0.1",
    "DB_PORT": 27017,
    "DB_NAME": "wfrepo",
    "DB_USER": "",
    "DB_PASS": "",
    "ALLOW_DOUBLE": false
  },
  "ARCHIVE_ROOT": "/data/SDS/",
  "DEFAULT_LOG_FILE": "WFCatalog-collector.log",
  "PROCESSING_TIMEOUT": 120,
  "ENABLE_DUBLIN_CORE": false,
  "FILTERS": {
    "WHITE": ["*"],
    "BLACK": []
  }
}
